html {
  scroll-behavior: smooth;
}

.footer1 {
   width: 100%;
   color: white;
   text-align: center;
   margin:0;
}

a.employmentcollapse:hover{
	color: #0069D9;
	cursor: pointer;
}
.sticky {
  position: absolute;
  bottom: 10px;
} 

.findOutMore{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.0;
	animation-name: fadeIn;
	animation-duration: 2s;
	/* animation-iteration-count: infinite; */
	animation-delay: 6s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn{
	100% {opacity: 1.0;}
}

.heading{
	padding-top:100px;
}

.nowTvIcon {
	height:140px;
	width:225px;
	margin:0 auto;
   content:url(projects/now_tv_email/NOW-TV-Logo-Large.jpg);
}

.brandwidthIcon {
	height:140px;
	width:250px;
	margin:0 auto;
   content:url(projects/api_test/Brandwidth-logo-300x105.jpg);
   background-color:white;
}

.completeIcon{
	font-size:30px;
	vertical-align: -20px;
	background-color:#28A745;
	border-radius:50px;
	padding:0px;
}

.workingIcon{
	font-size:25px;
	vertical-align: middle;
	background-color:#FFBF00;
	border-radius:5px;
	padding:5px;
	border: solid black 2px;
	float:right;
}

.card-body{
	padding:1rem;
}


@media only screen and (max-width: 600px) {
  .findOutMore{ 
	top: 80%;
	
  }
  .paddingTop10{
	padding-top:10px;
  }
  .pbottom10
  
}

@media only screen and (min-width: 768px) and (max-width:1024px) {

	.card-body-height{
		height: 225px !important;
	}
}