body {
  color: white;
  background-color: #3b4664;
  font-family: "Bebas Neue", cursive;
}

* {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
}

.mb15 {
  margin-bottom: 15px;
}

.w100pc {
  width: 49%;
}

#Calculation {
  color: white;
  font-size: 18px;
  text-align: right;
  margin-right: 40px;
  border: none;
  width: 100%;
  display: block;
}

form {
  background-color: #3b4664;
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 30px;
  padding: 20px;
}

input {
  font-size: 24px;
  text-align: right;
  background-color: transparent;
}

#title {
  margin: 0 0 5px 0;
  text-align: left;
}

#signature {
  margin: 0 0 5px 0;
  text-align: right;
  font-size: 15px;
}

#reset {
  width: 100%;
  margin: 10px 0 15px 0;
  background-color: #647299;
  box-shadow: 0 4px #414e71;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  text-align: center;
}

#sumEquals {
  width: 100%;
  display: block;
  color: white;
  border: none;
  font-size: 40px;
  margin: 0;
  text-align: right;
}

.calcSections {
  background-color: #181f32;
  border-radius: 6px;
  padding: 20px;
}

.buttonSections {
  margin-top: 20px;
}

.NonOpbutton {
  background-color: #eae3db;
  color: white;
  border: none;
  color: #66666e;
  box-shadow: 0 4px #aea4a2;
  border-radius: 6px;
  padding: 10px 15px;
  width: 20.34%;
  text-align: center;
  margin: 5px;
  font-size: 30px;
  vertical-align: bottom;
}

#btnEquals {
  background-color: #d13f30;
  box-shadow: 0 4px #8f2316;
  color: white;
}

button:hover {
  box-shadow: 0 4px #999;
}

button:active {
  transform: translateY(1.5px);
}
